*{
    padding:0;
    margin:0;
    font-family:Arial, sans-serif;
    box-sizing:border-box;
    list-style-type:none;
}
/*#db9103, #10576f*/
:root{
    --backgroundColor: #10576f;
    --textColor: #db9103;
    --textColorHover: #db8f03dd;
    --backgroundColorHover:#10576fde;
    --backgroundColorHoverOpacity:hsla(195, 75%, 25%, 0.7);
    --firstProgressBar: 90%;
    --secProgressBar: 80%;
    --thirdProgressBar: 85%;
    --forthProgressBar: 60%;
}
body{
    background:var(--backgroundColor);
    scroll-behavior: smooth;
}
.nav-cont{
    background:var(--backgroundColor);
    height:800px;
}
.nav-cont .header-incoming{
    color:#EEE;
    text-align:center;
    font-size:14px;
    text-transform:capitalize;
}
.nav-bar{
    display:flex;
    background:#db9103;
    justify-content:space-around;
}
.nav-bar .nav-bar-header{
    color:#EEE;
    font-size:20px;
    font-family:Arial, sans-serif;
    text-transform:capitalize;
    cursor:pointer;
    padding-top: 14px;
    font-size:20px;
    font-weight:bold;
}
.nav-bar .navigation-bar-list{
    display:flex;
    padding-top: 11px;
}
.nav-bar .navigation-bar-list .navigation-bar-list-items{
    margin-right:15px;
}
.nav-bar .navigation-bar-list .navigation-bar-list-items a, span{
    text-decoration:none;
    color:#EEE;
    text-transform:capitalize;
    font-size:20px;
    font-weight:bold;
    transition-duration:.2s;
    transition-timing-function: linear;
    transition-property: all;
}
.nav-bar .navigation-bar-list .navigation-bar-list-items span{
    padding-top: 7px;
    cursor:pointer;
}
.navigation-bar-list .navigation-bar-list-items a:hover{
    color:var(--backgroundColor);
    border-bottom:3px solid var(--backgroundColor);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.responsive-btn{
    display:none;
    cursor: pointer;;
}
.prof-pic{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: 57px;
    left: 242px;
    z-index: 2;
    cursor:pointer;
}
.brief-section{
    margin: 190px auto;
}
.brief-section .pagination{
    margin-top: 30px;

}
.brief-section .pagination .page-link{
    background:var(--textColor);
    padding:8px 20px;
    color:#EEE;
    border:0px;
    margin-right:10px;
    font-size:18px;
}
.brief-section .pagination .page-link.active{
    border-color: #FFF;
}
.brief-section .pagination .page-item{
    transition-duration: .3s;
    transition-timing-function:linear;
    transition-property:all;
    transition-delay: 0s;
}
.brief-section .pagination .page-link:hover{
    background:var(--textColorHover);
    padding:8px 20px;
    color:var(--backgroundCOlor)
}
.brief-section .pagination .page-item:hover{
    color:var(--backgroundColorHover)
}
.brief-section .left-section .my-auto-typing-name{
    color:#EEE;
    text-transform:capitalize;
    font-family:cursive, Arial, sans-serif;
    padding-bottom:10px;
    font-size:40px;
}
.brief-section .left-section .my-brief-paragraph{
    color:#EEE;
    text-transform:capitalize;
    padding-top:10px;
    font-size:24px
}
.spin-style{
    width:2px;
    background: var(--textColor);
    border-radius:0px
}
.feature-word{
    color:var(--textColor);
    cursor:pointer;
}
.features-section{
    padding-top: 45px;
    transition: .5s linear all;
    opacity: 0;
    transform:scale(.1)
}
.features-section .features-header{
    color:var(--textColor);
    padding:10px;
    border-bottom:1px solid var(--textColor);
    position:relative;
    width:200px;
    text-align:center;
    margin: 15px auto;
    text-transform:uppercase;
    letter-spacing:2px;
}
.features-section .features-header::before{
    position:absolute;
    width:50px;
    height:3px;
    background:#FFF;
    content:"";
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.features-section .features-paragraph{
    color:#EEE;
    text-align:center;
    font-size:18px;
    font-family:cursive, Arial ,sans-serif;
}
.features-section .card-parent{
    position:relative;
    width: 300px;
    margin: 40px auto;
}
.features-section .card-parent .face-card{
    margin-bottom:20px;
    width: 100%;
    position: relative;
    z-index: 1;
    cursor:pointer;
}
.features-section .card-parent .face-card img{
    width: 100%;
    height: 500px;
    border-radius:4px;
}
.features-section .card-parent .top-face-card{
    position: absolute;
    top: 0;
    text-align: center;
    background: var(--backgroundColorHoverOpacity);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    color: #FFF;
    transition-duration: .5s;
    transition-timing-function:linear;
    transition-property:all;
    padding:175px 0;
    cursor:pointer
}
.features-section .card-parent .top-face-card.active-top{
    opacity:1;
    transform:scale(1);
    z-index:2
}
.features-section .card-parent .top-face-card.disable-top{
    opacity: 0;
    transform:scale(.1);
}
.features-section .card-parent .top-face-card h4{
    text-align: center;
}
.features-section .card-parent.hide{
    display:none;
}
.features-section .card-parent .top-face-card button{
    background:hsla(195, 75%, 25%, 0);
    color:#FFF;
    border:0px;
    padding:5px;
    margin-right:20px;
    font-size:19px;
}
.features-section .page-link{
    background:var(--textColor);
    padding:10px;
    border:0px;
    margin-right:10px;
    color:#EEE;
    text-transform:uppercase;
    font-family:Arial, sans-serif;
    cursor:pointer;
}
.contact-section{
    padding:10px;
    margin: 60px auto;
    opacity: 0;
    transition-duration: .4s;
    transition-timing-function: linear;
    transition-property:all;
    transform:scale(.5);
}
.contact-section form fieldset{
    border: 4px solid var(--textColor);
    width: 85%;
    margin: 109px auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}
.contact-section form fieldset legend{
    position: absolute;
    top: -21px;
    z-index: 2;
    background: var(--backgroundColor);
    width: 125px;
    left: 0;
    margin: 0 125px;
    text-transform: capitalize;
    color:#EEE;
}
.contact-section form .form-inputs-labels{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 100px;
    border-radius: 7px;
}
.contact-section .labels{
    display:flex;
    flex-direction: column;
}
.contact-section .labels label{
    color:#EEE;
    font-family:cursive, Arial, sans-serif;
    font-size:25px;
    padding-bottom:35px;
}
.contact-section .inputs{
    display:flex;
    flex-direction: column;
}
.contact-section .inputs input, .contact-section .inputs textarea{
    width:400px;
    padding:5px;
    border-radius:3px;
    margin-bottom:40px;
    outline:none;
    border:0px;
    transition-duration: .4s;
    transition-timing-function: linear;
    transition-property:all;
}
.contact-section .inputs textarea{
    resize: none;
    height: 100px;
    margin-bottom:0px
}
.contact-section .inputs input, textarea::placeholder{
    text-transform:capitalize;
    font-family:cursive
}
input[type='submit']{
    width: 66%;
    display: block;
    margin: 10px auto;
    border-radius:4px;
    font-size: 20px;
    padding:5px;
    background:var(--textColorHover);
    color:#EEE;
    outline:none;
    border:0px;
    text-transform:uppercase;
    letter-spacing:4px;
    font-family:cursive;
    transition: .3s all linear;
}
input[type='submit']:hover{
    background:var(--textColor)
}
.responsive-group{
    background:rgba(0, 0, 0, 0.966);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position:fixed;
}
.responsive-group .group-list{
    padding-left: 0px;
    text-align:center;
}
.responsive-group .listItems{
    text-align: center;
    text-transform:uppercase;
    font-size:35px;
    border-bottom:2px solid var(--textColor);
    padding:10px;
    color:#EEE;
    cursor:pointer;
    transition:all .5s linear
}
.responsive-group .listItems:hover{
    background:var(--textColor);
    color:#FFF;
}
.about-me-section .about-me-header{
    color:var(--textColor);
    padding:10px;
    border-bottom:1px solid var(--textColor);
    position:relative;
    width:200px;
    text-align:center;
    margin: 15px auto;
    text-transform:uppercase;
    letter-spacing:2px;
    font-size:30px
}
.about-me-section .about-me-header::before{
    position:absolute;
    width:50px;
    height:3px;
    background:#FFF;
    content:"";
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.about-me-section .pagination .page-link{
    background:var(--textColor);
    padding:8px 20px;
    color:#EEE;
    border:0px;
    margin-right:10px;
    font-size:18px;
    cursor: pointer;
}
.about-me-section .pagination .page-link.active{
    border-color: #FFF;
}
.about-me-section .pagination .page-item{
    transition-duration: .3s;
    transition-timing-function:linear;
    transition-property:all;
    transition-delay: 0s;
    cursor: pointer;
}
.about-me-section .pagination .page-link:hover{
    background:var(--textColorHover);
    padding:8px 20px;
    color:var(--backgroundCOlor)
}
.about-me-section .pagination .page-item:hover{
    color:var(--backgroundColorHover)
}
.about-me-section .skills{
    transition:all .4s linear;
}
.about-me-section .education{
    display:none;
    opacity: 0;
    transition:all .4s linear;
}
.about-me-section .graduation{
    display:none;
    opacity: 0;
    transition:all .4s linear;
}
.about-me-section .skills-progress{
    margin-top: 80px;
}
.about-me-section .skills-progress > div{
    display: flex;
    justify-content: space-around;
}
.about-me-section .skills-progress div label{
    padding:15px;
    width: 182px;
    color:#EEE;
    text-transform:uppercase;
    font-size:17px;
    font-family:Arial, sans-serif;
    font-weight:bold;
    position: relative;
}
.about-me-section .progress{
    background: #EEE;
    width: 40%;
    color: #EEE;
    position: relative;
    margin-top: 10px;
    padding: 12px;
    border-radius: 4px;
    justify-content: center;
}
.about-me-section .skills-progress .progress label{
    position: absolute;
    top: -14px;
    left: 0;
    z-index: 2;
    color: var(--backgroundColor);
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.about-me-section .progress-text{
    color: var(--backgroundColor);
    position:absolute;
    content:'';
    top: 0;
    left: 0;
    background:var(--textColor);
    height:100%;
    transition:all .4s linear;
    animation-duration: 1s;
    animation-timing-function:linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.about-me-section .education{
    width:100%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}
.about-me-section .education .eduHeader{
    width:100%;
    border-bottom:2px solid var(--textColor);
    padding:5px;
    text-transform:uppercase;
    font-size:19px;
    margin-bottom:50px;
    color:#EEE;
}
.about-me-section .education .bothHand{
    width:100%;
    display: flex;
    justify-content: space-around; 
}
.about-me-section .education .leftHand{
    width: 36%;
    position:relative;
    padding: 0 27px;
}
.about-me-section .education .leftHand .leftHandText{
    width:110%;
    font-size:17px;
    color:#EEE;
}
.about-me-section .education .rightHand{
    width: 100%;
    position:relative;
    padding: 0 27px;
}
.about-me-section .education .rightHand .rightHandText{
    width:68%;
    font-size:20px;
    color:var(--textColor);
    font-weight:bold;
}

.about-me-section .education .leftHand::before{
    content:'';
    height:141px;
    position:absolute;
    right: 80px;
    text-align: center;
    width: 2px;
    background:var(--textColor);
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    transition: all .7s linear;
}
@keyframes leftHandAnimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.about-me-section .education .rightHand::before{
    content:'';
    position:absolute;
    background:var(--textColor);
    width:15px;
    height:15px;
    border-radius:50%;
    left: -88px;
}

@keyframes firstProgressBars {
    from{
        width:0%;
    }
    to{
        width: var(--firstProgressBar)
    }
}
@keyframes secProgressBars {
    from{
        width:0%;
    }
    to{
        width: var(--secProgressBar)
    }
}
@keyframes thirdProgressBars {
    from{
        width:0%;
    }
    to{
        width: var(--thirdProgressBar);
    }
}
@keyframes forthProgressBars {
    from{
        width:0%;
    }
    to{
        width: var(--forthProgressBar);
    }
}
@media (min-width:300px) and (max-width:370px){
    .nav-bar{
        justify-content:space-between;
        padding:0 25px
    }
    .nav-bar .navigation-bar-list{
        display: none;
    }
    .responsive-btn{
        display: flex;
        padding-top: 11px;
    }
    .nav-bar .nav-bar-header{
        padding-top: 8px;
    }
    .prof-pic{
        display:none;
    }
    .features-section .page-link{
        margin-right:0px;
    }
    .features-section .card-parent .face-card {
        width: 92%;
    }
    .contact-section form fieldset {
        padding: 27px;
    }
    .contact-section form fieldset legend {
        top: -22px;
        margin: 0 auto;
    }
    .contact-section form .form-inputs-labels {
        padding:0px;
    }
    .contact-section .labels{
        display:none;
    }
    .contact-section .inputs input, .contact-section .inputs textarea{
        width:100%;
    }
    .about-me-section .education .bothHand{
        flex-direction:column
    }
    .about-me-section .education .rightHand, .about-me-section .education .leftHand{
        padding: 0px;
        width: 100%;
    }
    .about-me-section .education .rightHand .rightHandText{
        width:100%;
    }
    .about-me-section .education .leftHand .leftHandText{
        width:100%;
    }
    .about-me-section .education .leftHand::before {
        height: 25px;
        animation-name: leftHandAnimation;
    }
}
@media (min-width:375px) and (max-width:960px){
    .nav-bar{
        justify-content:space-between;
        padding:0 25px
    }
    .nav-bar .navigation-bar-list{
        display: none;
    }
    .responsive-btn{
        display: flex;
        padding-top: 11px;
    }
    .nav-bar .nav-bar-header{
        padding-top: 8px;
    }
    .prof-pic{
        display:none;
    }
    .features-section .page-link{
        margin-right:0px;
    }
    .contact-section form fieldset {
        padding: 27px;
    }
    .contact-section form fieldset legend {
        top: -22px;
        margin: 0 auto;
    }
    .contact-section form .form-inputs-labels {
        padding:0px;
    }
    .contact-section .labels{
        display:none;
    }
    .contact-section .inputs input, .contact-section .inputs textarea{
        width:100%;
    }
    .about-me-section .education .bothHand{
        flex-direction:column
    }
    .about-me-section .education .rightHand, .about-me-section .education .leftHand{
        padding: 0px;
        width: 100%;
    }
    .about-me-section .education .rightHand .rightHandText{
        width:100%;
    }
    .about-me-section .education .leftHand .leftHandText{
        width:100%;
    }
    .about-me-section .education .leftHand::before {
        height: 25px;
        animation-name: leftHandAnimation;
        right: 154px;
    }
}